* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 1);
  border-radius: 50px;
}

html {
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#frame {
  width: 95vw;
  height: 90vh;
  border: 1px solid white;
  border-radius: 40px;

  overflow-y: hidden;
}

#frame_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 24px 40px;
}

#frame_filters {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: black;
}

.btn > h1 {
  font-size: 20px;
  font-family: sans-serif;
}

.btn.active {
  background-color: white !important;
  color: black !important;
}

#list_items {
  overflow-y: scroll;
  height: 85%;
}

.item_wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  opacity: 0;
  animation: fade_in 500ms ease-out forwards;
  font-family: sans-serif;
  position: relative;
  padding: 10px 40px;
}

.item_wrapper::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, transparent, #106600, #20cc00);
  z-index: -1;
}

.item_wrapper:hover::before {
  width: 100%;
  transition: width 600ms ease;
}

.item_wrapper:hover > .btn {
  transition: all 200ms 500ms ease;
  background-color: white;
  color: black;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.avatar {
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 18px;
  font-family: sans-serif;
  margin-right: 20px;
}

.item_wrapper > .btn {
  margin-left: auto;
}
